/* Estilos gerais */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ajusta a altura mínima para garantir centralização */
}

.container {
    width: 100%; /* Ocupa 100% da largura em dispositivos móveis */
    max-width: 400px; /* Limita a largura máxima para PCs */
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Ajuste para telas menores (celulares mais comuns) */
@media (max-width: 600px) {
    .container {
        padding: 15px; /* Diminui o padding em telas menores */
    }
}

/* Estilo para telas maiores (tablets e PCs) */
@media (min-width: 768px) {
    .container {
        max-width: 400px; /* Mantém 400px para tablets e desktops */
    }
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%; /* Faz os campos ocuparem toda a largura disponível */
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #004a99;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Botão ocupa toda a largura */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003d82;
}

/* Ajuste para garantir que o campo de senha e o ícone fiquem no mesmo alinhamento */
.password-wrapper {
    position: relative;
    width: 100%; /* Faz a caixa de senha ocupar toda a largura */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

/* Exibição de mensagens */
.message {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.message.error {
    color: white;
    background-color: red;
}

.message.success {
    color: white;
    background-color: green;
}
